.Titulo{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

li{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

#malos{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    padding-top: 30px;
}

#buenos{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    padding-top: 30px;
}

#Vader {
    font-size: 30px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#Luke{
    font-size: 50px;
    font-style: italic;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

/* #Soldados{
    border: 2px dashed black
} */

#Soldados2{
    letter-spacing: 2px;
    font-size: 30px;
}

.Imperio{
    filter: drop-shadow(2px 2px 10px red) 
    /* ARRIBA ESTA COMO PONER UNA SOMBRA A UN BORDE DE IMAGEN (NO A CAJA) */
}

.Rebeldes{
    filter: drop-shadow(2px 2px 10px blue) 
}

.apoyo{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Naves{
    text-transform: uppercase;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    padding: 10px;
}

body {
    text-align: center;
    /* background-image: url("fondostarwars.jpeg") */
    background: rgb(33,31,80);
background: linear-gradient(90deg, rgba(33,31,80,1) 0%, rgba(2,2,25,1) 0%, rgba(0,0,0,1) 100%);
}

header{
    display: block;
    align-items: right;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
}

ul li {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
}

nav ul li a {
    color: rgb(255, 217, 0);
    font-weight: bold;
    width: 200px;
    border-radius: 13%;
    text-decoration: none;
}

nav ul li a:hover{
    color:white;
    transition: .3s;
}

.logo{
    filter: drop-shadow(10px 10px 10px rgb(166, 143, 16));
}