.caja {

    border-radius: 15%;
    box-sizing: height 20px; width:40%;
}

#Alumno {
    background-color: red;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

#profesora{
    background-color: red;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: center;
    color: black;
}